body {
  background-color: black;
  font-style: Verdana;
  text-align: center;
  color: gray;
}

.white-txt {
  color: white;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}

p, footer {
  font-size: 21px;
}

footer {
  text-align: right;
}

#top h1 {
  font-size: 50px;
}

#mid h2 {
  font-weight: 300;
  font-size: 42px;
}
